*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}


header{
    background-color: #FFF8F3;
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: 50px center,right bottom;
    
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71%;
    max-width: 1140px;
     padding: 40px 0;
     margin:0 auto;
}
nav ul{
    list-style: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap:50px;
   
    
}

nav a{
    text-decoration: none;
    color:#474747;
}

.logo{
    font-size: 45px;
    font-weight: 800;
}

/* shared style */
.primary-btn{
    font-size: 20px;
    color:white;
    background-color: #FD6E0A;
    padding:16px 20px;
    font-weight: bold;
    border:none;
    border-radius: 8px;
    cursor: pointer;
}

.color-orange{
    color:#FD6E0A;
}





/* hero section */
#banner-container{
    display: flex;
    margin:0 25px 0 230px;
    justify-content: space-between;
    align-items: center;
    /* gap:163px; */
    
}
.banner-content{
    width: 585px;
}

#banner-container h2{
    color:#474747;
    font-size: 45px;
    font-weight: 600;
}

#banner-container h1{
    color:#181818;
    font-size: 85px;
    font-weight: bold;
}
.banner-sub-title{
    color:#757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 5px;
}

.banner-btn{
    display: flex;
    gap:30px;
}

#banner-container figure img{
    vertical-align: bottom;
}