*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}


header{
    background-color: #FFF8F3;
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: 23px center,right bottom;
    
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71%;
    max-width: 1140px;
     padding: 40px 0;
     margin:0 auto;
}
nav ul{
    list-style: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap:50px;
   
    
}

nav a{
    text-decoration: none;
    color:#474747;
}

.logo{
    font-size: 45px;
    font-weight: 800;
}


/* shared style */
.primary-btn{
    font-size: 20px;
    color:white;
    background-color: #FD6E0A;
    padding:16px 20px;
    font-weight: bold;
    border:none;
    border-radius: 8px;
    cursor: pointer;
}

.color-orange{
    color:#FD6E0A;
}

.section-heading{
    max-width: 827px;
    margin:0 auto;
    text-align: center;
    
}

.title{
    color:#181818;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
   
}
.sub-title{
    color:#757575;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    
}

/* hero section */
#banner-container{
    display: flex;
    margin:0 25px 0 230px;
    justify-content: space-between;
    align-items: center;
    /* gap:163px; */
    
}
.banner-content{
    width: 585px;
}

#banner-container h2{
    color:#474747;
    font-size: 45px;
    font-weight: 600;
}

#banner-container h1{
    color:#181818;
    font-size: 85px;
    font-weight: bold;
}
.banner-sub-title{
    color:#757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 5px;
}

.banner-btn{
    display: flex;
    gap:30px;
}

#banner-container figure img{
    vertical-align: bottom;
}

/* main part  */

main{
    width:71%;
    max-width:1140px;
    margin: 0 auto;
}

/* about section */
#about{
    margin:130px 0;
}

.about-container{
    background-color: #FFF8F3;
    text-align: center;
    padding: 130px 156px;
    border-radius: 16px;
}
.about-info{
    display: flex;
    justify-content: space-around;
}

.info-card p{
    color:#757575;
    font-size: 20px;
    line-height: 30px;
}
.info-card h5{
    color:#474747;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

/* skills section */
#skills{
   margin: 130px 0 ;
    
}
.skills-container{
    text-align: center;
}

.skills-content{
    display: flex;
    gap:24px;
    margin-top: 50px;
}
.skill-card{
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0,0,0,0.06);
    text-align: left;
    box-sizing: border-box;
   
}
.skill-card img{
    margin-bottom: 30px;
}
.skill-card h3{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color:#181818;
}
.skill-card p{
    color:#757575;
    line-height: 28px;
}



/* resume section */
.resume{
    margin: 130px 0;
}
.resume .title{
    margin-bottom: 110px;
}

.resume-container{
    display: flex;
    gap:24px;
}


.education-title,.experience-title{
    font-size: 30px;
    font-weight: bold;
    color:#474747;
}

.resume-card{
    margin:30px 47px 30px 0;
}

.card-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.card-info{
    font-size: 20px;
    font-weight: 600;
    color:#757575;
    margin-bottom: 20px;
}
.card-text{
    color: #757575;
    line-height: 28px;
}

.resume-btn{
   text-align: center;
   margin-top: 50px;
}

/* footer section */
.footer{
    background-color: #FFF8F3;
}

.footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 0;
    display: flex;
    justify-content: center;
    gap:116px;
   
}
.connect{
    max-width: 562px;
}

.connect h2, .message h2{
    font-size: 35px;
    font-weight: bold;
    color:#181818;
    margin-bottom: 24px;
}
.connect p{
    font-size: 16px;
    line-height: 28px;
    color:#474747;
    margin-bottom: 30px;
}
.connect div{
    display: flex;
    gap:24px;
}

.message {
    width:461px;
}
.message fieldset{
    border:none;
    display: flex;
    flex-direction: column;
    gap: 24px;

   
}
.message fieldset input, .message fieldset textarea{
    padding: 18px 30px;
    border:none;
     border-radius: 10px;
     width: 100%;
}

